<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mpw.model.chfx.mapper.XDemCsvMapper">
    <select id="selectByArea"  parameterType="String" resultType="com.mpw.model.chfx.domain.entity.DemCsv">
        SELECT * FROM ROUTE.DEM_CSV WHERE dmgeo.ST_INTERSECTS(dmgeo.ST_GEOMFROMTEXT(#{area}, 4326), GEOM)
    </select>

    <select id="select"  parameterType="String" resultType="com.mpw.model.chfx.domain.entity.DemCsv">
        SELECT * FROM ROUTE.DEM_CSV WHERE dmgeo.ST_CONTAINS(dmgeo.ST_GEOMFROMTEXT(#{area}, 4326), GEOM)
    </select>

    <select id="selectByLine"  parameterType="String" resultType="com.mpw.model.chfx.domain.entity.DemCsv">
        SELECT * FROM ROUTE.DEM_CSV WHERE dmgeo.ST_CROSSES(dmgeo.ST_GEOMFROMTEXT(#{line}, 4326), GEOM)
    </select>

    <select id="selectByPoint"  parameterType="String" resultType="com.mpw.model.chfx.domain.entity.DemCsv">
        SELECT * FROM ROUTE.DEM_CSV WHERE dmgeo.ST_INTERSECTS(dmgeo.ST_GEOMFROMTEXT(#{point}, 4326), GEOM)
    </select>
</mapper>